Repository yuanyxh/illustrate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, stylelint --syntax scss

test
  src/App.tsx
Due: eslint

test
  .lintstagedrc
  package-lock.json
  package.json
  src/App.tsx
Due: eslint

husky and lint-staged setup
  src/App.tsx
Due: eslint

husky and lint-staged setup
  .husky/.gitignore
  package.json
Due: none

test
  package-lock.json
  package.json
  src/App.tsx
  src/index.tsx
  src/logo.svg
Due: eslint

chore: 新增提交规范限制
  .eslintcache
  .husky/commit-msg
  .lintstagedrc
  .stylelintrc.js
  commitlint.config.js
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
Due: eslint, stylelint

ci: 🎡 配置别名
  .gitignore
  .prettierignore
  craco.config.ts
  package-lock.json
  package.json
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/global.d.ts
  src/hooks/index.ts
  src/index.css
  src/index.tsx
  src/layout/layout.tsx
  src/types/index.d.ts
  tsconfig.json
Due: eslint, stylelint

ci: 配置别名
  .gitignore
  commitlint.config.js
Due: none

feat: add css media query and variable
  craco.config.js
  craco.config.ts
  public/index.html
  src/App.css
  src/App.tsx
  src/home/Home.module.css
  src/home/Home.tsx
  src/index.css
  src/index.tsx
  src/react-app-env.d.ts
  src/styles/breakpoint.css
  src/styles/theme.css
  src/types/classnames.d.ts
  src/utils/classnames.ts
  src/utils/index.ts
Due: eslint, stylelint

feat: init layout and home page
  .cssrem
  .eslintcache
  package-lock.json
  package.json
  public/index.html
  src/App.tsx
  src/components/EditArea/EditArea.module.css
  src/components/EditArea/EditArea.tsx
  src/home/Home.module.css
  src/home/Home.tsx
  src/index.css
  src/index.tsx
  src/layout/Layout.module.css
  src/layout/Main.module.css
  src/layout/Main.tsx
  src/layout/Sidebar.module.css
  src/layout/Sidebar.tsx
  src/layout/layout.tsx
  src/pages/test/Test.tsx
  src/router/index.tsx
  src/styles/breakpoint.css
Due: eslint, stylelint

feat: 完善路由
  .eslintcache
  craco.config.js
  loaders/BundleRoute.js
  src/components/EditArea/EditArea.module.css
  src/enum/RouteID.ts
  src/enum/index.ts
  src/home/Home.module.css
  src/home/Home.tsx
  src/hooks/index.ts
  src/index.css
  src/layout/Sidebar.module.css
  src/layout/Sidebar.tsx
  src/pages/reversal/Reversal.tsx
  src/pages/test/Test.tsx
  src/router/index.tsx
  src/styles/theme.css
Due: eslint, stylelint

feat: add loading component and errorboundary component
  .eslintcache
  loaders/BundleRoute.js
  src/App.tsx
  src/components/EditArea/EditArea.tsx
  src/components/ErrorBoundary/ErrorBoundary.module.css
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/components/Loading/Loading.module.css
  src/components/Loading/Loading.tsx
  src/enum/ErrorMessage.ts
  src/enum/RouteID.ts
  src/enum/index.ts
  src/global.d.ts
  src/home/Home.module.css
  src/home/Home.tsx
  src/hooks/index.ts
  src/hooks/usePages.ts
  src/hooks/useThrottle.ts
  src/index.css
  src/index.tsx
  src/layout/Main.tsx
  src/layout/Navbar.module.css
  src/layout/Navbar.tsx
  src/layout/Sidebar.module.css
  src/layout/Sidebar.tsx
  src/layout/layout.tsx
  src/pages/drag/Drag.module.css
  src/pages/drag/Drag.tsx
  src/pages/reversal/Reversal.tsx
  src/router/index.tsx
  src/styles/calcrem.css
  src/styles/theme.css
  src/types/classnames.d.ts
  src/types/hooks.d.ts
  src/types/index.d.ts
  src/types/route.d.ts
Due: eslint, stylelint

feat: add a Transition component, use it create enter and leave animation
  .eslintcache
  src/components/Transition/Transition.tsx
  src/layout/Sidebar.module.css
  src/layout/Sidebar.tsx
  src/pages/drag/Drag.module.css
  src/pages/drag/Drag.tsx
Due: eslint, stylelint

feat: add a auto bulid router script and Readme.md change
  .eslintcache
  .eslintrc.js
  BundleRoute.js
  README.md
  commitlint.config.js
  craco.config.js
  loaders/BundleRoute.js
  package-lock.json
  package.json
  src/pages/drag/Drag.tsx
  src/pages/reversal/Reversal.tsx
  src/router/template.tsx
Due: eslint

docs: readme change
  README.md
Due: none

feat: add a dragupload and visual component
  .vscode/launch.json
  BundleRoute.js
  README.md
  package.json
  src/App.css
  src/layout/Layout.module.css
  src/layout/Main.module.css
  src/layout/Sidebar.module.css
  src/layout/Sidebar.tsx
  src/pages/DragUploadFile/DragUploadFile.module.css
  src/pages/DragUploadFile/DragUploadFile.tsx
  src/pages/DragUploadFile/UploadAvatar.module.css
  src/pages/DragUploadFile/UploadAvatar.tsx
  src/pages/DragUploadFile/UploadFile.module.css
  src/pages/DragUploadFile/UploadFile.tsx
  src/pages/VisualEdit/Button.module.css
  src/pages/VisualEdit/Button.tsx
  src/pages/VisualEdit/Input.module.css
  src/pages/VisualEdit/Input.tsx
  src/pages/VisualEdit/VisualEdit.module.css
  src/pages/VisualEdit/VisualEdit.tsx
  src/pages/VisualEdit/Wrapper.module.css
  src/pages/VisualEdit/Wrapper.tsx
  src/pages/drag/Drag.module.css
  src/pages/drag/Drag.tsx
  src/router/index.tsx
Due: eslint, stylelint

refactor: 重构样式
  BundleRoute.js
  src/components/EditArea/EditArea.module.css
  src/components/EditArea/EditArea.tsx
  src/home/Grid.module.css
  src/home/Grid.tsx
  src/home/Home.module.css
  src/home/Home.tsx
  src/index.css
  src/layout/Layout.module.css
  src/layout/Main.module.css
  src/layout/Navbar.module.css
  src/layout/Navbar.tsx
  src/layout/Sidebar.module.css
  src/layout/Sidebar.tsx
  src/layout/layout.tsx
  src/pages/DragUploadFile/DragUploadFile.tsx
  src/pages/reversal/Reversal.tsx
  src/router/index.tsx
  src/styles/theme.css
  src/types/route.d.ts
Due: eslint, stylelint

feat: add a usePosition hooks
  package-lock.json
  package.json
  src/config/index.ts
  src/home/Grid.tsx
  src/hooks/index.ts
  src/hooks/usePages.ts
  src/hooks/usePosition.ts
  src/hooks/useScreen.ts
  src/hooks/useThrottle.ts
  src/index.tsx
  src/layout/Main.tsx
  src/layout/Navbar.tsx
  src/layout/Sidebar.module.css
  src/layout/Sidebar.tsx
  src/layout/layout.tsx
  src/pages/Test/Test.module.css
  src/pages/Test/Test.tsx
  src/router/index.tsx
  src/store/index.ts
  src/store/module/screen.ts
  src/types/hooks.d.ts
  src/utils/index.ts
Due: eslint, stylelint

feat: add a upload component and other something
  BundleRoute.js
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/components/Loading/Loading.tsx
  src/components/Transition/Transition.tsx
  src/components/Upload/Upload.module.css
  src/components/Upload/Upload.tsx
  src/home/Grid.tsx
  src/hooks/index.ts
  src/hooks/useModel.ts
  src/index.css
  src/index.tsx
  src/layout/Layout.module.css
  src/layout/Main.tsx
  src/layout/Navbar.tsx
  src/layout/Sidebar.tsx
  src/layout/layout.tsx
  src/pages/DragUploadFile/DragUploadFile.module.css
  src/pages/DragUploadFile/DragUploadFile.tsx
  src/pages/DragUploadFile/UploadAvatar.module.css
  src/pages/DragUploadFile/UploadAvatar.tsx
  src/pages/DragUploadFile/UploadFile.module.css
  src/pages/DragUploadFile/UploadFile.tsx
  src/pages/Test/Test.tsx
  src/pages/UploadFile/UploadFile.module.css
  src/pages/UploadFile/UploadFile.tsx
  src/pages/VisualEdit/Button.tsx
  src/pages/VisualEdit/Input.tsx
  src/pages/VisualEdit/VisualEdit.tsx
  src/pages/VisualEdit/Wrapper.tsx
  src/router/index.tsx
  src/types/hooks.d.ts
  src/types/http.d.ts
  src/types/index.d.ts
  src/types/route.d.ts
  src/utils/http.ts
  src/utils/index.ts
Due: eslint, stylelint

feat: will
  src/pages/UploadFile/UploadFile.tsx
Due: eslint

feat: add a PdfParser page
  package-lock.json
  package.json
  src/pages/FileSystemAccess/FileSystemAccess.module.css
  src/pages/FileSystemAccess/FileSystemAccess.tsx
  src/pages/FileSystemAccess/pdf/drawPDF.ts
  src/pages/FileSystemAccess/pdf/enum.ts
  src/pages/FileSystemAccess/pdf/parsePDF.ts
  src/pages/FileSystemAccess/pdf/type.d.ts
  src/pages/FileSystemAccess/pdf/utils.ts
  src/pages/PdfParser/PdfParser.module.css
  src/pages/PdfParser/PdfParser.tsx
  src/pages/PdfParser/lib/PDFParser.ts
  src/pages/PdfParser/lib/enum.ts
  src/pages/PdfParser/lib/types.d.ts
  src/pages/PdfParser/lib/utils.ts
  src/pages/UploadFile/UploadFile.module.css
  src/pages/UploadFile/UploadFile.tsx
  src/router/index.tsx
  src/styles/theme.css
  src/utils/index.ts
Due: eslint, stylelint

refactor: refactor pdf page
  src/components/PageNotFound/PageNotFound.module.css
  src/index.css
  src/pages/Base64/Base64.module.css
  src/pages/Base64/Base64.tsx
  src/pages/PdfParser/PdfParser.module.css
  src/pages/PdfParser/PdfParser.tsx
  src/pages/PdfParser/lib/PDFParser.ts
Due: eslint, stylelint

feat: add a input component and rewrite base64 page
  src/components/Button/Button.module.css
  src/components/Button/Button.tsx
  src/components/Input/Input.module.css
  src/components/Input/Input.tsx
  src/components/Text/Text.module.css
  src/components/Text/Text.tsx
  src/index.css
  src/pages/Base64/Base64.module.css
  src/pages/Base64/Base64.tsx
  src/pages/PdfParser/PdfParser.module.css
  src/pages/PdfParser/PdfParser.tsx
  src/pages/Test/Test.tsx
  src/styles/variable.css
  src/utils/classnames.ts
Due: eslint, stylelint

feat: change something
  src/components/Button/Button.module.css
  src/components/Button/Button.tsx
  src/components/ErrorBoundary/ErrorBoundary.module.css
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/components/LoadingIcon/LoadingIcon.module.css
  src/components/LoadingIcon/LoadingIcon.tsx
  src/components/PageNotFound/PageNotFound.module.css
  src/components/PageNotFound/PageNotFound.tsx
  src/components/Upload/Upload.module.css
  src/components/Upload/Upload.tsx
  src/pages/PdfParser/PdfParser.module.css
  src/pages/Test/Test.module.css
  src/pages/Test/Test.tsx
  src/pages/UploadFile/UploadFile.module.css
  src/pages/UploadFile/UploadFile.tsx
  src/styles/variable.css
Due: eslint, stylelint

refactor: rewrite upload page and add card & progress component
  src/components/Card/Card.module.css
  src/components/Card/Card.tsx
  src/components/Progress/Progress.module.css
  src/components/Progress/Progress.tsx
  src/components/Upload/Upload.module.css
  src/components/Upload/Upload.tsx
  src/components/Upload/types.ts
  src/pages/Test/Test.tsx
  src/pages/UploadFile/UploadFile.module.css
  src/pages/UploadFile/UploadFile.tsx
  src/pages/UploadFile/UploadImage.module.css
  src/pages/UploadFile/UploadImage.tsx
  src/pages/UploadFile/UploadList.module.css
  src/pages/UploadFile/UploadList.tsx
  src/router/index.tsx
  src/styles/variable.css
Due: eslint, stylelint

feat: change filesystem page
  src/components/Card/Card.tsx
  src/pages/FileSystemAccess/Body.module.css
  src/pages/FileSystemAccess/Body.tsx
  src/pages/FileSystemAccess/FileSystemController.tsx
  src/pages/FileSystemAccess/Header.tsx
  src/pages/FileSystemAccess/Item.module.css
  src/pages/FileSystemAccess/Item.tsx
  src/pages/FileSystemAccess/Location.module.css
  src/pages/FileSystemAccess/Location.tsx
  src/pages/FileSystemAccess/types.ts
  src/pages/FileSystemAccess/utils.ts
Due: eslint, stylelint

feat: complete filesystem page(secondary version)
  src/components/Dialog/Dialog.tsx
  src/pages/FileSystemAccess/Body.module.css
  src/pages/FileSystemAccess/Body.tsx
  src/pages/FileSystemAccess/Catalog.module.css
  src/pages/FileSystemAccess/Catalog.tsx
  src/pages/FileSystemAccess/FileSystemController.tsx
  src/pages/FileSystemAccess/Item.tsx
  src/pages/FileSystemAccess/NewHandle.module.css
  src/pages/FileSystemAccess/NewHandle.tsx
  src/pages/FileSystemAccess/config.ts
  src/pages/FileSystemAccess/types.ts
  src/pages/FileSystemAccess/utils.ts
Due: eslint, stylelint

fix: fix filesystem page move file bugs
  pnpm-lock.yaml
  src/pages/FileSystemAccess/FileSystemAccess.tsx
  src/pages/FileSystemAccess/FileSystemController.tsx
  src/pages/FileSystemAccess/types.ts
  src/pages/FileSystemAccess/utils.ts
Due: eslint

feat: add some components
  BundleRoute.js
  src/components/Button/Button.tsx
  src/components/Card/Card.tsx
  src/components/Dialog/Dialog.tsx
  src/components/Input/Input.tsx
  src/components/InputNumber/InputNumber.module.css
  src/components/InputNumber/InputNumber.tsx
  src/components/Loading/Loading.tsx
  src/components/LoadingIcon/LoadingIcon.tsx
  src/components/MessageBox/MessageBox.tsx
  src/components/Overlay/Overlay.tsx
  src/components/Progress/Progress.tsx
  src/components/Select/Select.module.css
  src/components/Select/Select.tsx
  src/components/Switch/Switch.module.css
  src/components/Switch/Switch.tsx
  src/components/Text/Text.tsx
  src/components/Upload/Upload.tsx
  src/hooks/useTransition.ts
  src/index.css
  src/pages/GIF-Explorer/GIF-Explorer.module.css
  src/pages/GIF-Explorer/GIF-Explorer.tsx
  src/pages/GIF-Explorer/GIFVideo.module.css
  src/pages/GIF-Explorer/GIFVideo.tsx
  src/pages/GIF-Explorer/component/TimePicker.module.css
  src/pages/GIF-Explorer/component/TimePicker.tsx
  src/pages/GIF-Explorer/types.ts
  src/pages/GIF-Explorer/utils.ts
  src/pages/VisualEdit/Button.tsx
  src/pages/VisualEdit/Input.tsx
  src/router/index.tsx
  src/types/index.d.ts
  src/types/props.d.ts
Due: eslint, stylelint

feat: gif encoder complete
  craco.config.js
  package-lock.json
  package.json
  src/components/InputNumber/InputNumber.tsx
  src/components/MessageBox/utils.tsx
  src/components/Select/Select.tsx
  src/components/Upload/Upload.tsx
  src/index.css
  src/pages/GIF-Explorer/GIFVideo.module.css
  src/pages/GIF-Explorer/GIFVideo.tsx
  src/pages/GIF-Explorer/gif/GIF.ts
  src/pages/GIF-Explorer/gif/GIFByte.ts
  src/pages/GIF-Explorer/gif/Octree.ts
  src/pages/GIF-Explorer/gif/Queue.ts
  src/pages/GIF-Explorer/gif/Trie.ts
  src/pages/GIF-Explorer/gif/config.ts
  src/pages/GIF-Explorer/gif/encoder.worker.ts
  src/pages/GIF-Explorer/types.d.ts
  src/pages/GIF-Explorer/types.ts
  src/pages/GIF-Explorer/utils.ts
  src/pages/PdfParser/lib/PDFParser.ts
  src/router/index.tsx
  src/types/index.d.ts
  src/types/utils.d.ts
  src/utils/elements.ts
  src/utils/index.ts
  src/utils/polling.ts
Due: eslint, stylelint

chore: add git actions
  .github/workflows/deploy-docs.yml
Due: none

Rename layout.tsx to Layout.tsx
  src/layout/Layout.tsx
Due: eslint

feat: change application path
  package.json
Due: none

Path conditions:
  eslint: any of: **/*.{ts,tsx}
  stylelint: any of: **/*.css
  stylelint --syntax scss: any of: **/*.scss
